In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\admin\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\admin\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests) (1.26.9)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
#Q 1)Write a python program to display all the header tags from wikipedia.org

page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [4]:
page

In [5]:
soup_wiki = BeautifulSoup(page.content)

In [ ]:
soup_wiki

In [8]:
titles = soup_wiki.find_all(['h1','h2','h3','h4','h5','h6'])
print("List all the header tags:",*titles,sep='\n\n')

List all the header tags:

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [9]:
#Q 2)  & 3) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
#and make data frame.

imdb = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [ ]:
imdb

In [10]:
soup_imdb = BeautifulSoup(imdb.content)

In [11]:
Movie_Name = []

for i in soup_imdb.find_all('td',class_="titleColumn",limit=100):
    Movie_Name.append(i.text.split('\n')[2])
        
Movie_Name

['      The Shawshank Redemption',
 '      The Godfather',
 '      The Dark Knight',
 '      The Godfather Part II',
 '      12 Angry Men',
 "      Schindler's List",
 '      The Lord of the Rings: The Return of the King',
 '      Pulp Fiction',
 '      The Lord of the Rings: The Fellowship of the Ring',
 '      Il buono, il brutto, il cattivo',
 '      Forrest Gump',
 '      Fight Club',
 '      Inception',
 '      The Lord of the Rings: The Two Towers',
 '      The Empire Strikes Back',
 '      The Matrix',
 '      Goodfellas',
 "      One Flew Over the Cuckoo's Nest",
 '      Se7en',
 '      Shichinin no samurai',
 "      It's a Wonderful Life",
 '      The Silence of the Lambs',
 '      Cidade de Deus',
 '      Saving Private Ryan',
 '      La vita è bella',
 '      Interstellar',
 '      The Green Mile',
 '      Star Wars',
 '      Terminator 2: Judgment Day',
 '      Back to the Future',
 '      Sen to Chihiro no kamikakushi',
 '      Psycho',
 '      The Pianist',
 '      Gisaengchung',
 '      Léon',
 '      The Lion King',
 '      Gladiator',
 '      American History X',
 '      The Departed',
 '      The Usual Suspects',
 '      The Prestige',
 '      Whiplash',
 '      Casablanca',
 '      The Intouchables',
 '      Seppuku',
 '      Hotaru no haka',
 '      Modern Times',
 '      Once Upon a Time in the West',
 '      Rear Window',
 '      Alien',
 '      City Lights',
 '      Nuovo Cinema Paradiso',
 '      Apocalypse Now',
 '      Memento',
 '      Raiders of the Lost Ark',
 '      Django Unchained',
 '      WALL·E',
 '      The Lives of Others',
 '      Sunset Blvd.',
 '      Paths of Glory',
 '      The Shining',
 '      The Great Dictator',
 '      Witness for the Prosecution',
 '      Avengers: Infinity War',
 '      Aliens',
 '      American Beauty',
 '      Spider-Man: Into the Spider-Verse',
 '      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 '      The Dark Knight Rises',
 '      Oldeuboi',
 '      Joker',
 '      Amadeus',
 '      Inglourious Basterds',
 '      Toy Story',
 '      Braveheart',
 '      Coco',
 '      Das Boot',
 '      Avengers: Endgame',
 '      Mononoke-hime',
 '      Top Gun: Maverick',
 '      Once Upon a Time in America',
 '      Good Will Hunting',
 '      Kimi no na wa.',
 '      Requiem for a Dream',
 '      Toy Story 3',
 "      Singin' in the Rain",
 '      3 Idiots',
 '      Tengoku to jigoku',
 '      Star Wars: Episode VI - Return of the Jedi',
 '      2001: A Space Odyssey',
 '      Eternal Sunshine of the Spotless Mind',
 '      Capharnaüm',
 '      Reservoir Dogs',
 '      Jagten',
 '      Citizen Kane',
 '      Lawrence of Arabia',
 '      M - Eine Stadt sucht einen Mörder',
 '      Idi i smotri',
 '      North by Northwest',
 '      Vertigo']

In [12]:
Rating = []

for j in soup_imdb.find_all('td',class_="ratingColumn imdbRating",limit=100):
   Rating.append(j.text.split('\n')[1])
        
Rating

['9.2',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2']

In [13]:
Year_of_Release = []

for k in soup_imdb.find_all('span',class_="secondaryInfo",limit=100):
   Year_of_Release.append(k.text)
        
Year_of_Release

['(1994)',
 '(1972)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(2001)',
 '(1966)',
 '(1994)',
 '(1999)',
 '(2010)',
 '(2002)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1995)',
 '(1954)',
 '(1946)',
 '(1991)',
 '(2002)',
 '(1998)',
 '(1997)',
 '(2014)',
 '(1999)',
 '(1977)',
 '(1991)',
 '(1985)',
 '(2001)',
 '(1960)',
 '(2002)',
 '(2019)',
 '(1994)',
 '(1994)',
 '(2000)',
 '(1998)',
 '(2006)',
 '(1995)',
 '(2006)',
 '(2014)',
 '(1942)',
 '(2011)',
 '(1962)',
 '(1988)',
 '(1936)',
 '(1968)',
 '(1954)',
 '(1979)',
 '(1931)',
 '(1988)',
 '(1979)',
 '(2000)',
 '(1981)',
 '(2012)',
 '(2008)',
 '(2006)',
 '(1950)',
 '(1957)',
 '(1980)',
 '(1940)',
 '(1957)',
 '(2018)',
 '(1986)',
 '(1999)',
 '(2018)',
 '(1964)',
 '(2012)',
 '(2003)',
 '(2019)',
 '(1984)',
 '(2009)',
 '(1995)',
 '(1995)',
 '(2017)',
 '(1981)',
 '(2019)',
 '(1997)',
 '(2022)',
 '(1984)',
 '(1997)',
 '(2016)',
 '(2000)',
 '(2010)',
 '(1952)',
 '(2009)',
 '(1963)',
 '(1983)',
 '(1968)',
 '(2004)',
 '(2018)',
 '(1992)',
 '(2012)',
 '(1941)',
 '(1962)',
 '(1931)',
 '(1985)',
 '(1959)',
 '(1958)']

In [15]:
import pandas as pd
IMDB_Top_100_Movies = pd.DataFrame({'Name of Movie' :Movie_Name, 'IMDB_Rating':Rating, 'Release_Year': Year_of_Release},index=range(1,101))
IMDB_Top_100_Movies

                               Name of Movie IMDB_Rating Release_Year
1                   The Shawshank Redemption         9.2       (1994)
2                              The Godfather         9.2       (1972)
3                            The Dark Knight         9.0       (2008)
4                      The Godfather Part II         9.0       (1974)
5                               12 Angry Men         9.0       (1957)
..                                       ...         ...          ...
96                        Lawrence of Arabia         8.3       (1962)
97         M - Eine Stadt sucht einen Mörder         8.3       (1931)
98                              Idi i smotri         8.3       (1985)
99                        North by Northwest         8.2       (1959)
100                                  Vertigo         8.2       (1958)

[100 rows x 3 columns]

In [16]:
# Q 4)Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 
#from https://presidentofindia.nic.in/former-presidents.htm

Prez = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
Prez

In [17]:
soup_Prez = BeautifulSoup(Prez.content)

In [18]:
Prez_name = []

for p in soup_Prez.find_all('div',class_="presidentListing"):
    Prez_name.append(p.text.split('\n')[1])
Prez_name

['Shri Ram Nath Kovind (birth - 1945)',
 'Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963) ']

In [19]:
Prez_term = []

for t in soup_Prez.find_all('div',class_="presidentListing"):
    Prez_term.append(t.text.split('\n')[2].split(':')[1])
Prez_term

[' 25 July, 2017 to 25 July, 2022 ',
 ' 25 July, 2012 to 25 July, 2017 ',
 ' 25 July, 2007 to 25 July, 2012 ',
 ' 25 July, 2002 to 25 July, 2007 ',
 ' 25 July, 1997 to 25 July, 2002 ',
 ' 25 July, 1992 to 25 July, 1997 ',
 ' 25 July, 1987 to 25 July, 1992 ',
 ' 25 July, 1982 to 25 July, 1987 ',
 ' 25 July, 1977 to 25 July, 1982 ',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962']

In [21]:
Former_Prez_India = pd.DataFrame({'Name of Respected President':Prez_name,'Term of office':Prez_term},index=range(1,15))
Former_Prez_India

,Name of Respected President,Term of office
1,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
2,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
3,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
4,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
5,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
6,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
7,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
8,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
9,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
10,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
11,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
12,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
13,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
14,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [22]:
#Q5) Python program to scrape cricket rankings from icc-cricket.com.

#(a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

icc_men = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
icc_men

In [24]:
soup_iccMen = BeautifulSoup(icc_men.content)

In [25]:
Men_team = []

for m in soup_iccMen.find_all('span',class_="u-hide-phablet",limit=10):
    Men_team.append(m.text)
    
Men_team

['England',
 'New Zealand',
 'India',
 'Pakistan',
 'Australia',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [26]:
men_1m = soup_iccMen.find('td',class_="rankings-block__banner--matches")
men_1m.text

'27'

In [27]:
men_1p = soup_iccMen.find('td',class_="rankings-block__banner--points")
men_1p.text

'3,226'

In [28]:
men_1r = soup_iccMen.find('td',class_="rankings-block__banner--rating u-text-right")
men_1r.text.split('\n')[1]

'                            119'

In [29]:
Men_matches_points = []

for m in soup_iccMen.find_all('td',class_="table-body__cell u-center-text",limit=18):
    Men_matches_points.append(m.text)
    
Men_matches_points

['22',
 '2,508',
 '34',
 '3,802',
 '22',
 '2,354',
 '29',
 '3,071',
 '24',
 '2,392',
 '30',
 '2,753',
 '29',
 '2,658',
 '41',
 '2,902',
 '18',
 '1,238']

In [30]:
Men_matches_points.insert(0,men_1m.text)
Men_matches_points

['27',
 '22',
 '2,508',
 '34',
 '3,802',
 '22',
 '2,354',
 '29',
 '3,071',
 '24',
 '2,392',
 '30',
 '2,753',
 '29',
 '2,658',
 '41',
 '2,902',
 '18',
 '1,238']

In [31]:
Men_matches_points.insert(1,men_1p.text)
Men_matches_points

['27',
 '3,226',
 '22',
 '2,508',
 '34',
 '3,802',
 '22',
 '2,354',
 '29',
 '3,071',
 '24',
 '2,392',
 '30',
 '2,753',
 '29',
 '2,658',
 '41',
 '2,902',
 '18',
 '1,238']

In [32]:
Men_matches = []
Men_matches = Men_matches_points[0:20:2]
Men_matches

['27', '22', '34', '22', '29', '24', '30', '29', '41', '18']

In [33]:
Men_points = []
Men_points = Men_matches_points[1::2]
Men_points

['3,226',
 '2,508',
 '3,802',
 '2,354',
 '3,071',
 '2,392',
 '2,753',
 '2,658',
 '2,902',
 '1,238']

In [34]:
Men_rating = []

for m in soup_iccMen.find_all('td',class_="table-body__cell u-text-right rating",limit=9):
    Men_rating.append(m.text)
    
Men_rating

['114', '112', '107', '106', '100', '92', '92', '71', '69']

In [35]:
Men_rating.insert(0,men_1r.text.split('\n')[1])
Men_rating

['                            119',
 '114',
 '112',
 '107',
 '106',
 '100',
 '92',
 '92',
 '71',
 '69']

In [36]:
import pandas as pd
Top10_ODI = pd.DataFrame({'TEAM':Men_team,'MATCHES':Men_matches,'POINTS':Men_points,'RATING':Men_rating},index=range(1,11))
Top10_ODI

            TEAM MATCHES POINTS                           RATING
1        England      27  3,226                              119
2    New Zealand      22  2,508                              114
3          India      34  3,802                              112
4       Pakistan      22  2,354                              107
5      Australia      29  3,071                              106
6   South Africa      24  2,392                              100
7     Bangladesh      30  2,753                               92
8      Sri Lanka      29  2,658                               92
9    West Indies      41  2,902                               71
10   Afghanistan      18  1,238                               69

In [37]:
#Q5) Python program to scrape cricket rankings from icc-cricket.com.

#(b)Top 10 ODI Batsmen along with the records of their team and rating

icc_batsman = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
icc_batsman

In [38]:
soup_player = BeautifulSoup(icc_batsman.content)

In [39]:
Player_1name = soup_player.find('div',class_="rankings-block__banner--name")
Player_1name.text

'Babar Azam'

In [40]:
Player_1nation =soup_player.find('div',class_="rankings-block__banner--nationality")
Player_1nation.text.split('\n')[2]

'PAK'

In [41]:
Player_1rating =soup_player.find('div',class_="rankings-block__banner--nationality")
Player_1rating.text.split('\n')[3]

'                            890'

In [42]:
Player_name = []

for n in soup_player.find_all('td',class_="table-body__cell name",limit = 9):
    Player_name.append(n.text.split('\n')[1])
Player_name

['Imam-ul-Haq',
 'Rassie van der Dussen',
 'Quinton de Kock',
 'Jonny Bairstow',
 'David Warner',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Steve Smith']

In [43]:
Player_name.insert(0,Player_1name.text)
Player_name

['Babar Azam',
 'Imam-ul-Haq',
 'Rassie van der Dussen',
 'Quinton de Kock',
 'Jonny Bairstow',
 'David Warner',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Steve Smith']

In [44]:
Player_nation = []

for n in soup_player.find_all('span',class_="table-body__logo-text",limit = 9):
    Player_nation.append(n.text)
Player_nation

['PAK', 'SA', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'NZ', 'AUS']

In [45]:
Player_nation.insert(0,Player_1nation.text.split('\n')[2])
Player_nation

['PAK', 'PAK', 'SA', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'NZ', 'AUS']

In [46]:
Player_rating = []

for rat in soup_player.find_all('td',class_="table-body__cell u-text-right rating",limit=9):
    Player_rating.append(rat.text.split('\n'))
Player_rating

[['779'],
 ['766'],
 ['759'],
 ['732'],
 ['725'],
 ['722'],
 ['718'],
 ['701'],
 ['697']]

In [47]:
Player_rating.insert(0,Player_1rating.text.split('\n')[3])
Player_rating

['                            890',
 ['779'],
 ['766'],
 ['759'],
 ['732'],
 ['725'],
 ['722'],
 ['718'],
 ['701'],
 ['697']]

In [48]:
Top10_ODI_Batsman = pd.DataFrame({'Player':Player_name,'Team':Player_nation,'Rating':Player_rating},index=range(1,11))
Top10_ODI_Batsman

                   Player Team                           Rating
1              Babar Azam  PAK                              890
2             Imam-ul-Haq  PAK                            [779]
3   Rassie van der Dussen   SA                            [766]
4         Quinton de Kock   SA                            [759]
5          Jonny Bairstow  ENG                            [732]
6            David Warner  AUS                            [725]
7             Virat Kohli  IND                            [722]
8            Rohit Sharma  IND                            [718]
9             Ross Taylor   NZ                            [701]
10            Steve Smith  AUS                            [697]

In [49]:
#Q5)Python program to scrape cricket rankings from icc-cricket.com.

#(c) Top 10 ODI bowlers along with the records of their team and rating.

icc_bowler = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
icc_bowler

In [50]:
soup_bowler = BeautifulSoup(icc_bowler.content)

In [51]:
Bowler_1name = soup_bowler.find('div',class_="rankings-block__banner--name-large")
Bowler_1name.text

'Trent Boult'

In [52]:
Bowler_1nation = soup_bowler.find('div',class_="rankings-block__banner--nationality")
Bowler_1nation.text.split('\n')[2]

'NZ'

In [53]:
Bowler_1rating = soup_bowler.find('td',class_="u-text-left")
Bowler_1rating.text.split('\n')[1]

'775'

In [54]:
Bowler_name = []

for b in soup_bowler.find_all('td',class_="table-body__cell rankings-table__name name",limit=9):
    Bowler_name.append(b.text.split('\n')[1])
    
Bowler_name

['Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Shaheen Afridi',
 'Mohammad Nabi',
 'Mehedi Hasan',
 'Matt Henry',
 'Mitchell Starc',
 'Rashid Khan',
 'Jasprit Bumrah']

In [55]:
Bowler_name.insert(0,Bowler_1name.text)
Bowler_name

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Shaheen Afridi',
 'Mohammad Nabi',
 'Mehedi Hasan',
 'Matt Henry',
 'Mitchell Starc',
 'Rashid Khan',
 'Jasprit Bumrah']

In [56]:
Bowler_nation =[]

for n in soup_bowler.find_all('td',class_="table-body__cell nationality-logo rankings-table__team",limit=9):
    Bowler_nation.append(n.text.split('\n')[2])
    
Bowler_nation

['AUS', 'AFG', 'PAK', 'AFG', 'BAN', 'NZ', 'AUS', 'AFG', 'IND']

In [57]:
Bowler_nation.insert(0,Bowler_1nation.text.split('\n')[2])
Bowler_nation

['NZ', 'AUS', 'AFG', 'PAK', 'AFG', 'BAN', 'NZ', 'AUS', 'AFG', 'IND']

In [58]:
Bowler_rating = []

for r in soup_bowler.find_all('td',class_="table-body__cell rating",limit=9):
    Bowler_rating.append(r.text)
    
Bowler_rating

['718', '676', '661', '657', '655', '654', '653', '651', '642']

In [59]:
Bowler_rating.insert(0,Bowler_1rating.text.split('\n')[1])
Bowler_rating

['775', '718', '676', '661', '657', '655', '654', '653', '651', '642']

In [60]:
Top10_ODI_Bowler = pd.DataFrame({'Player':Bowler_name,'Team':Bowler_nation,'Rating':Bowler_rating},index=range(1,11))
Top10_ODI_Bowler

              Player Team Rating
1        Trent Boult   NZ    775
2     Josh Hazlewood  AUS    718
3   Mujeeb Ur Rahman  AFG    676
4     Shaheen Afridi  PAK    661
5      Mohammad Nabi  AFG    657
6       Mehedi Hasan  BAN    655
7         Matt Henry   NZ    654
8     Mitchell Starc  AUS    653
9        Rashid Khan  AFG    651
10    Jasprit Bumrah  IND    642

In [61]:
#Q6) Python program to scrape cricket rankings from icc-cricket.com.

#(a)Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

icc_women = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
icc_women

In [62]:
soup_women = BeautifulSoup(icc_women.content)

In [63]:
Women_team = []

for w in soup_women.find_all('span',class_="u-hide-phablet",limit=10):
    Women_team.append(w.text)
    

Women_team

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [64]:
Women_1match = soup_women.find('td',class_="rankings-block__banner--matches")
Women_1match.text

'18'

In [65]:
Women_1point = soup_women.find('td',class_="rankings-block__banner--points")
Women_1point.text

'3,061'

In [66]:
Women_match_points = []

for m in soup_women.find_all('td',class_="table-body__cell u-center-text",limit=18):
    Women_match_points.append(m.text)
    
Women_match_points

['26',
 '3,098',
 '25',
 '2,904',
 '27',
 '2,820',
 '24',
 '2,425',
 '24',
 '2,334',
 '12',
 '932',
 '21',
 '1,237',
 '11',
 '516',
 '8',
 '353']

In [67]:
Women_match_points.insert(0,Women_1match.text)
Women_match_points

['18',
 '26',
 '3,098',
 '25',
 '2,904',
 '27',
 '2,820',
 '24',
 '2,425',
 '24',
 '2,334',
 '12',
 '932',
 '21',
 '1,237',
 '11',
 '516',
 '8',
 '353']

In [68]:
Women_match_points.insert(1,Women_1point.text)
Women_match_points

['18',
 '3,061',
 '26',
 '3,098',
 '25',
 '2,904',
 '27',
 '2,820',
 '24',
 '2,425',
 '24',
 '2,334',
 '12',
 '932',
 '21',
 '1,237',
 '11',
 '516',
 '8',
 '353']

In [69]:
Women_match = Women_match_points[0:20:2]
Women_match

['18', '26', '25', '27', '24', '24', '12', '21', '11', '8']

In [70]:
Women_points = Women_match_points[1::2]
Women_points

['3,061',
 '3,098',
 '2,904',
 '2,820',
 '2,425',
 '2,334',
 '932',
 '1,237',
 '516',
 '353']

In [71]:
Women_1rating = soup_women.find('td',class_="rankings-block__banner--rating u-text-right")
Women_1rating.text.split('\n')[1]

'                            170'

In [72]:
Women_rating = []

for r in soup_women.find_all('td',class_="table-body__cell u-text-right rating",limit=9):
    Women_rating.append(r.text)
    
Women_rating

['119', '116', '104', '101', '97', '78', '59', '47', '44']

In [73]:
Women_rating.insert(0,Women_1rating.text.split('\n')[1])
Women_rating

['                            170',
 '119',
 '116',
 '104',
 '101',
 '97',
 '78',
 '59',
 '47',
 '44']

In [74]:
Top10_ODI_women = pd.DataFrame({'TEAM':Women_team,'MATCHES':Women_match,'POINTS':Women_points,'RATING':Women_rating}, index=range(1,11))
Top10_ODI_women

            TEAM MATCHES POINTS                           RATING
1      Australia      18  3,061                              170
2   South Africa      26  3,098                              119
3        England      25  2,904                              116
4          India      27  2,820                              104
5    New Zealand      24  2,425                              101
6    West Indies      24  2,334                               97
7     Bangladesh      12    932                               78
8       Pakistan      21  1,237                               59
9        Ireland      11    516                               47
10     Sri Lanka       8    353                               44

In [75]:
#Q6) Python program to scrape cricket rankings from icc-cricket.com.

#(b)Top 10 women’s ODI Batting players along with the records of their team and rating

icc_bat_women = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
icc_bat_women

In [76]:
soup_batW = BeautifulSoup(icc_bat_women.content)

In [77]:
Women_1bat = soup_batW.find('div',class_="rankings-block__banner--name-large")
Women_1bat.text

'Alyssa Healy'

In [78]:
Women_1team = soup_batW.find('div',class_="rankings-block__banner--nationality")
Women_1team.text.split('\n')[2]

'AUS'

In [79]:
Women_1rating = soup_batW.find('div',class_="rankings-block__banner--rating")
Women_1rating.text

'785'

In [80]:
Women_player = []

for t in soup_batW.find_all('td',class_="table-body__cell rankings-table__name name",limit=9):
    Women_player.append(t.text.split('\n')[1])
    
Women_player

['Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Meg Lanning',
 'Rachael Haynes',
 'Amy Satterthwaite',
 'Chamari Athapaththu']

In [81]:
Women_player.insert(0,Women_1bat.text)
Women_player

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Meg Lanning',
 'Rachael Haynes',
 'Amy Satterthwaite',
 'Chamari Athapaththu']

In [82]:
Women_team = []

for n in soup_batW.find_all('span',class_="table-body__logo-text",limit=9):
    Women_team.append(n.text)
    
Women_team

['AUS', 'SA', 'ENG', 'IND', 'IND', 'AUS', 'AUS', 'NZ', 'SL']

In [87]:
Women_team.insert(0,Women_1team.text.split('\n')[2])
Women_team

['AUS', 'AUS', 'SA', 'ENG', 'IND', 'IND', 'AUS', 'AUS', 'NZ', 'SL']

In [83]:
Women_rating = []

for r in soup_batW.find_all('td',class_="table-body__cell rating",limit=9):
    Women_rating.append(r.text)
    
Women_rating

['749', '732', '725', '716', '714', '710', '701', '661', '655']

In [84]:
Women_rating.insert(0,Women_1rating.text)
Women_rating

['785', '749', '732', '725', '716', '714', '710', '701', '661', '655']

In [88]:
Top10_ODI_batWomen = pd.DataFrame({'PLAYER':Women_player,'TEAM':Women_team,'RATING':Women_rating},index=range(1,11))
Top10_ODI_batWomen

                 PLAYER TEAM RATING
1          Alyssa Healy  AUS    785
2           Beth Mooney  AUS    749
3       Laura Wolvaardt   SA    732
4        Natalie Sciver  ENG    725
5      Harmanpreet Kaur  IND    716
6       Smriti Mandhana  IND    714
7           Meg Lanning  AUS    710
8        Rachael Haynes  AUS    701
9     Amy Satterthwaite   NZ    661
10  Chamari Athapaththu   SL    655

In [89]:
#Q6) Python program to scrape cricket rankings from icc-cricket.com.

#(c)Top 10 women’s ODI all-rounder along with the records of their team and rating

icc_women_alround = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
icc_women_alround

In [90]:
soup_alround = BeautifulSoup(icc_women_alround.content)

In [91]:
Women_1alround = soup_alround.find('div',class_="rankings-block__banner--name-large")
Women_1alround.text

'Hayley Matthews'

In [92]:
Women_1nation = soup_alround.find('div',class_="rankings-block__banner--nationality")
Women_1nation.text.split('\n')[2]

'WI'

In [93]:
Women_1arating = soup_alround.find('td',class_="u-text-left")
Women_1arating.text.split('\n')[1]

'380'

In [94]:
Women_alround = []

for a in soup_alround.find_all('td',class_="table-body__cell rankings-table__name name",limit=9):
    Women_alround.append(a.text.split('\n')[1])
    
Women_alround

['Ellyse Perry',
 'Natalie Sciver',
 'Amelia Kerr',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Jhulan Goswami',
 'Katherine Brunt']

In [95]:
Women_alround.insert(0,Women_1alround.text)
Women_alround

['Hayley Matthews',
 'Ellyse Perry',
 'Natalie Sciver',
 'Amelia Kerr',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Jhulan Goswami',
 'Katherine Brunt']

In [96]:
Women_nation = []

for n in soup_alround.find_all('span',class_="table-body__logo-text",limit=9):
    Women_nation.append(n.text)
    
Women_nation

['AUS', 'ENG', 'NZ', 'SA', 'IND', 'AUS', 'AUS', 'IND', 'ENG']

In [97]:
Women_nation.insert(0,Women_1nation.text.split('\n')[2])
Women_nation

['WI', 'AUS', 'ENG', 'NZ', 'SA', 'IND', 'AUS', 'AUS', 'IND', 'ENG']

In [98]:
Women_arating = []

for r in soup_alround.find_all('td',class_="table-body__cell rating",limit=9):
    Women_arating.append(r.text)
    
Women_arating

['374', '357', '356', '349', '322', '270', '246', '214', '207']

In [99]:
Women_arating.insert(0,Women_1arating.text.split('\n')[1])
Women_arating

['380', '374', '357', '356', '349', '322', '270', '246', '214', '207']

In [100]:
import pandas as pd

Top10_ODI_Walround = pd.DataFrame({'PLAYER':Women_alround,'TEAM':Women_nation,'RATING':Women_arating},index=range(1,11))

Top10_ODI_Walround

              PLAYER TEAM RATING
1    Hayley Matthews   WI    380
2       Ellyse Perry  AUS    374
3     Natalie Sciver  ENG    357
4        Amelia Kerr   NZ    356
5     Marizanne Kapp   SA    349
6      Deepti Sharma  IND    322
7   Ashleigh Gardner  AUS    270
8      Jess Jonassen  AUS    246
9     Jhulan Goswami  IND    214
10   Katherine Brunt  ENG    207

In [101]:
# Q7)Python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

# i) Headline

page_cnbc = requests.get('https://www.cnbc.com/world/?region=world')

page_cnbc

In [102]:
soup_cnbc = BeautifulSoup(page_cnbc.content)

In [103]:
Headline = []

for h in soup_cnbc.find_all('h2'):
    Headline.append(h.text)

Headline

["EU official warns Musk he'll have to 'fly by our rules' as he buys Twitter",
 'Latest News',
 'QUOTE FINDER',
 'Markets',
 'Trending Now',
 'Pro News and Analysis',
 'Sustainable Future',
 'Coronavirus',
 'CNBC Travel',
 'Make It',
 'Investing in supertrends']

In [104]:
# Q7)Python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

# ii) Time

page_cnbc = requests.get('https://www.cnbc.com/world/?region=world')

page_cnbc

In [105]:
Time = []

for time in soup_cnbc.find_all('time',class_="LatestNews-timestamp"):
    Time.append(time.text)
    
Time

['36 Min Ago',
 '51 Min Ago',
 '59 Min Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago']

In [106]:
# Q7)Python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

# iii) News link

Links = []

for l in soup_cnbc.find_all('div',class_="RiverHeadline-headline RiverHeadline-hasThumbnail"):
    Links.append(l.a['href'])
    
Links

['https://www.cnbc.com/2022/10/27/stock-market-futures-open-to-close-news.html',
 '/pro/',
 'https://www.cnbc.com/2022/10/28/russia-ukraine-live-updates.html',
 'https://www.cnbc.com/2022/10/28/amazon-stock-tumbles-after-downbeat-sales-forecast.html',
 'https://www.cnbc.com/2022/10/28/europe-telco-industry-pushes-big-tech-to-pay-for-building-the-internet.html',
 '/pro/',
 'https://www.cnbc.com/2022/10/28/energy-crisis-europe-gas-prices-drop-but-could-rise-in-coming-months.html',
 'https://www.cnbc.com/2022/10/28/pending-home-sales-fell-10percent-in-september-from-august.html',
 'https://www.cnbc.com/2022/10/28/covid-cases-controls-spread-in-china.html',
 'https://www.cnbc.com/2022/10/28/musk-twitter-deal-bank-of-america-ceo-isnt-worried-about-debt-funding.html',
 'https://www.cnbc.com/2022/10/28/eu-pushes-ahead-with-plan-to-ban-new-diesel-gasoline-cars.html',
 'https://www.cnbc.com/2022/10/28/ex-apple-and-tesla-exec-gives-tips-for-building-successful-business.html',
 'https://www.cnbc.com/2022/10/27/clean-energy-investment-may-hit-2-trillion-a-year-by-2030-iea.html',
 'https://www.cnbc.com/2022/10/28/imf-asia-would-have-most-to-lose-if-economic-fragmentation-worsens.html',
 'https://www.cnbc.com/2022/10/28/asia-markets-stocks-bank-of-japan-interest-rates-currencies.html',
 'https://www.cnbc.com/2022/10/28/european-markets-open-to-close-earnings-data-and-news.html',
 'https://www.cnbc.com/2022/10/28/foreign-investment-funds-bet-on-a-us-proof-china-chip-industry.html',
 'https://www.cnbc.com/2022/10/28/australian-borrowers-in-good-shape-to-weather-higher-interest-rates.html',
 'https://www.cnbc.com/2022/10/27/the-best-and-worst-parts-about-van-life-and-one-tip-before-trying-it.html',
 'https://www.cnbc.com/2022/10/28/bank-of-japan-sticks-to-its-dovish-stance-as-the-rest-of-the-world-takes-on-jumbo-hikes.html']

In [107]:
# Q8) Python program to scrape the details of most downloaded articles from AI in last 90 days

# i) Paper Title

page_journal = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

page_journal

In [108]:
soup_journal = BeautifulSoup(page_journal.content)

In [109]:
Paper_title = []

for t in soup_journal.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    Paper_title.append(t.text)
    
Paper_title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [110]:
# Q8) Python program to scrape the details of most downloaded articles from AI in last 90 days

# ii) Authors

Authors = []

for a in soup_journal.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    Authors.append(a.text)
    
Authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [111]:
# Q8) Python program to scrape the details of most downloaded articles from AI in last 90 days

# iii) Published date

Published_date = []

for date in soup_journal.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    Published_date.append(date.text)
    
Published_date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [112]:
# Q8) Python program to scrape the details of most downloaded articles from AI in last 90 days

# iv) Paper URL

Paper_url = []

for u in soup_journal.find_all('li',class_="sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp"):
    Paper_url.append(u.a['href'])
    
Paper_url

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [113]:
# Q9) Python program to scrape mentioned details from dineout.co.in

# i) Restaurant name

page_dineout = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

page_dineout

In [114]:
soup_dineout = BeautifulSoup(page_dineout.content)

In [115]:
Restaurant = []

for r in soup_dineout.find_all('a',class_="restnt-name ellipsis"):
    Restaurant.append(r.text)

Restaurant

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [116]:
# Q9) Python program to scrape mentioned details from dineout.co.in

# ii) Cuisine

Cuisine = []

for c in soup_dineout.find_all('span',class_="double-line-ellipsis"):
    Cuisine.append(c.text.split('|')[1])

Cuisine

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Chinese, North Indian',
 ' Italian, Continental',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [117]:
# Q9) Python program to scrape mentioned details from dineout.co.in

# iii) Location

Location = []

for l in soup_dineout.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(l.text.split('|')[0])

Location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [118]:
# Q9) Python program to scrape mentioned details from dineout.co.in

# iv) Ratings

Ratings= []

for r in soup_dineout.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(r.text)
    
Ratings

['4.1', '3.9', '3.9', '4.3', '4', '3.9', '3.6', '3.8', '4.3']

In [119]:
# Q9) Python program to scrape mentioned details from dineout.co.in

# v) Image URL

Img_url = []

for i in soup_dineout.find_all('img',class_="no-img"):
    Img_url.append(i['data-src'])
    
Img_url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [120]:
Dineout = pd.DataFrame({'Restaurant':Restaurant,'Cuisine':Cuisine,'Loacation':Location,'Rating':Ratings,'Image_URL':Img_url},index=range(1,10))
Dineout

,Restaurant,Cuisine,Loacation,Rating,Image_URL
1,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
2,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
5,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
6,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
7,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
8,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

In [121]:
# Q10) python program to scrape the details of top publications from Google Scholar from 
#https://scholar.google.com/citations?view_op=top_venues&hl=en

# i) Rank

page_G = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

page_G

In [122]:
soup_G = BeautifulSoup(page_G.content)

In [123]:
Rank = []

for r in soup_G.find_all('td',class_="gsc_mvt_p"):
    Rank.append(r.text)
    
Rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.',
 '31.',
 '32.',
 '33.',
 '34.',
 '35.',
 '36.',
 '37.',
 '38.',
 '39.',
 '40.',
 '41.',
 '42.',
 '43.',
 '44.',
 '45.',
 '46.',
 '47.',
 '48.',
 '49.',
 '50.',
 '51.',
 '52.',
 '53.',
 '54.',
 '55.',
 '56.',
 '57.',
 '58.',
 '59.',
 '60.',
 '61.',
 '62.',
 '63.',
 '64.',
 '65.',
 '66.',
 '67.',
 '68.',
 '69.',
 '70.',
 '71.',
 '72.',
 '73.',
 '74.',
 '75.',
 '76.',
 '77.',
 '78.',
 '79.',
 '80.',
 '81.',
 '82.',
 '83.',
 '84.',
 '85.',
 '86.',
 '87.',
 '88.',
 '89.',
 '90.',
 '91.',
 '92.',
 '93.',
 '94.',
 '95.',
 '96.',
 '97.',
 '98.',
 '99.',
 '100.']

In [124]:
# Q10) python program to scrape the details of top publications from Google Scholar from 
#https://scholar.google.com/citations?view_op=top_venues&hl=en

# ii) Publication

Publication = []

for p in soup_G.find_all('td',class_="gsc_mvt_t"):
    Publication.append(p.text)
    
Publication

['Nature',
 'The New England Journal of Medicine',
 'Science',
 'IEEE/CVF Conference on Computer Vision and Pattern Recognition',
 'The Lancet',
 'Advanced Materials',
 'Nature Communications',
 'Cell',
 'International Conference on Learning Representations',
 'Neural Information Processing Systems',
 'JAMA',
 'Chemical Reviews',
 'Proceedings of the National Academy of Sciences',
 'Angewandte Chemie',
 'Chemical Society Reviews',
 'Journal of the American Chemical Society',
 'IEEE/CVF International Conference on Computer Vision',
 'Nucleic Acids Research',
 'International Conference on Machine Learning',
 'Nature Medicine',
 'Renewable and Sustainable Energy Reviews',
 'Science of The Total Environment',
 'Advanced Energy Materials',
 'Journal of Clinical Oncology',
 'ACS Nano',
 'Journal of Cleaner Production',
 'Advanced Functional Materials',
 'Physical Review Letters',
 'Scientific Reports',
 'The Lancet Oncology',
 'Energy & Environmental Science',
 'IEEE Access',
 'PLoS ONE',
 'Science Advances',
 'Journal of the American College of Cardiology',
 'Applied Catalysis B: Environmental',
 'Nature Genetics',
 'BMJ',
 'Circulation',
 'European Conference on Computer Vision',
 'International Journal of Molecular Sciences',
 'Nature Materials',
 'Chemical engineering journal',
 'AAAI Conference on Artificial Intelligence',
 'Journal of Materials Chemistry A',
 'ACS Applied Materials & Interfaces',
 'Nature Biotechnology',
 'The Lancet Infectious Diseases',
 'Frontiers in Immunology',
 'Applied Energy',
 'Nano Energy',
 'Nature Energy',
 'Meeting of the Association for Computational Linguistics (ACL)',
 'The Astrophysical Journal',
 'Gastroenterology',
 'Nature Methods',
 'IEEE Transactions on Pattern Analysis and Machine Intelligence',
 'Cochrane Database of Systematic Reviews',
 'Blood',
 'Neuron',
 'Nano Letters',
 'Morbidity and Mortality Weekly Report',
 'European Heart Journal',
 'Nature Nanotechnology',
 'ACS Catalysis',
 'Nature Neuroscience',
 'American Economic Review',
 'Journal of High Energy Physics',
 'IEEE Communications Surveys & Tutorials',
 'Annals of Oncology',
 'Nutrients',
 'Accounts of Chemical Research',
 'Immunity',
 'Environmental Science & Technology',
 'Nature Reviews. Molecular Cell Biology',
 'Gut',
 'Physical Review D',
 'ACS Energy Letters',
 'Monthly Notices of the Royal Astronomical Society',
 'Conference on Empirical Methods in Natural Language Processing (EMNLP)',
 'Clinical Infectious Diseases',
 'Cell Metabolism',
 'Nature Reviews Immunology',
 'Joule',
 'Nature Photonics',
 'International Journal of Environmental Research and Public Health',
 'Environmental Pollution',
 'Computers in Human Behavior',
 'Frontiers in Microbiology',
 'Nature Physics',
 'Small',
 'Cell Reports',
 'Molecular Cell',
 'Clinical Cancer Research',
 'Bioresource Technology',
 'Journal of Business Research',
 'Molecular Cancer',
 'Sensors',
 'Nature Climate Change',
 'IEEE Internet of Things Journal']

In [125]:
# Q10) python program to scrape the details of top publications from Google Scholar from 
#https://scholar.google.com/citations?view_op=top_venues&hl=en

# iii)h5-index

h5_index = []

for h in soup_G.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5_index.append(h.text)
    
h5_index

['444',
 '432',
 '401',
 '389',
 '354',
 '312',
 '307',
 '300',
 '286',
 '278',
 '267',
 '265',
 '256',
 '245',
 '244',
 '242',
 '239',
 '238',
 '237',
 '235',
 '227',
 '225',
 '220',
 '213',
 '211',
 '211',
 '210',
 '207',
 '206',
 '202',
 '202',
 '200',
 '198',
 '197',
 '195',
 '192',
 '191',
 '190',
 '189',
 '186',
 '183',
 '181',
 '181',
 '180',
 '178',
 '177',
 '175',
 '173',
 '173',
 '173',
 '172',
 '170',
 '169',
 '167',
 '166',
 '165',
 '165',
 '165',
 '165',
 '164',
 '164',
 '163',
 '163',
 '163',
 '163',
 '162',
 '160',
 '160',
 '159',
 '159',
 '159',
 '159',
 '158',
 '158',
 '155',
 '155',
 '155',
 '155',
 '155',
 '154',
 '153',
 '153',
 '152',
 '152',
 '152',
 '152',
 '152',
 '152',
 '151',
 '151',
 '150',
 '149',
 '149',
 '146',
 '146',
 '145',
 '145',
 '145',
 '144',
 '144']

In [126]:
# Q10) python program to scrape the details of top publications from Google Scholar from 
#https://scholar.google.com/citations?view_op=top_venues&hl=en

# iv)h5-median

h5_median = []

for m in soup_G.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5_median.append(m.text)
    
h5_median

['667',
 '780',
 '614',
 '627',
 '635',
 '418',
 '428',
 '505',
 '533',
 '436',
 '425',
 '444',
 '364',
 '332',
 '386',
 '344',
 '415',
 '550',
 '421',
 '389',
 '324',
 '311',
 '300',
 '315',
 '277',
 '273',
 '280',
 '294',
 '274',
 '329',
 '290',
 '303',
 '278',
 '294',
 '276',
 '246',
 '297',
 '307',
 '301',
 '321',
 '253',
 '265',
 '224',
 '296',
 '220',
 '223',
 '315',
 '296',
 '228',
 '217',
 '232',
 '314',
 '304',
 '234',
 '254',
 '296',
 '293',
 '243',
 '229',
 '231',
 '207',
 '302',
 '265',
 '264',
 '220',
 '248',
 '263',
 '220',
 '304',
 '243',
 '214',
 '211',
 '242',
 '214',
 '340',
 '235',
 '217',
 '212',
 '194',
 '249',
 '278',
 '211',
 '292',
 '233',
 '228',
 '225',
 '222',
 '214',
 '225',
 '222',
 '196',
 '205',
 '202',
 '201',
 '190',
 '233',
 '209',
 '201',
 '228',
 '212']

In [127]:
Scholar = pd.DataFrame({'Rank':Rank,'Publication':Publication,'h5-index':h5_index,'h5-median':h5_median},index=range(1,101))
Scholar

,Rank,Publication,h5-index,h5-median
1,1.,Nature,444,667
2,2.,The New England Journal of Medicine,432,780
3,3.,Science,401,614
4,4.,IEEE/CVF Conference on Computer Vision and Pat...,389,627
5,5.,The Lancet,354,635
...,...,...,...,...
96,96.,Journal of Business Research,145,233
97,97.,Molecular Cancer,145,209
98,98.,Sensors,145,201
99,99.,Nature Climate Change,144,228
100,100.,IEEE Internet of Things Journal,144,212