In [18]:
#Let's import all required libraries
import selenium                                    #library that is used to work with selenium
from selenium import webdriver                     # importing webdriver module from selenium to open automated chrome window
import pandas as pd                                # to create dataframe
from selenium.webdriver.common.by import By        # importing inbuilt class By
import warnings                                    # to ignore any sort of warnings
warnings.filterwarnings("ignore") 
import time                                        # use to stop search engine for few seconds
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException

**1. Scrape the details of most viewed videos on YouTube from Wikipedia.**

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [15]:
# Let's first connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Admin\Chrome webdriver\chromedriver_win32\chromedriver.exe')

#Let's maximize the automated window

driver.maximize_window()

# First get the webpage  https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

url_1 = ' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

driver.get(url_1)

time.sleep(2)

In [16]:
# Empty list for scraping data
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [17]:
# Extracting Rank Via X path
try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
except StaleElementReferenceException:
    Rank.append('NA')
    
# Extracting Name Via X path
try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementExceptionhElementException:
    Name.append('NA')
except StaleElementReferenceException:
    Name.append('NA')
    
# Extracting Artist Name Via Xpath
try:
    artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')

# Extracting Upload date Via Xpath
try:
    upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA') 

# Extracting Views via Xpath
try:
    views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')

In [18]:
len(Rank),len(Name),len(Views),len(Upload_date),len(Artist)

(30, 30, 30, 30, 30)

In [19]:
# Dataframe for scrap data
Wiki_YT=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
print('\033[1m'+'Most Viewed Video on YouTube from Wikipedia :'+'\033[0m')
Wiki_YT

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,11.74,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.01,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.53,"October 8, 2016"
3,4.,"""Shape of You""[15]",Ed Sheeran,5.85,"January 30, 2017"
4,5.,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,5.77,"May 2, 2018"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.70,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.02,"March 6, 2014"
7,8.,"""Uptown Funk""[24]",Mark Ronson,4.76,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,4.73,"February 27, 2018"
9,10.,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,4.63,"May 24, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.61,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.51,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.14,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.78,"January 14, 2015"
14,15.,"""Roar""[35]",Katy Perry,3.69,"September 5, 2013"
15,16.,"""Counting Stars""[36]",OneRepublic,3.68,"May 31, 2013"
16,17.,"""Axel F""[37]",Crazy Frog,3.61,"June 16, 2009"
17,18.,"""Sorry""[38]",Justin Bieber,3.61,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.52,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.43,"June 25, 2018"
20,21.,"""Dark Horse""[41]",Katy Perry,3.40,"February 20, 2014"
21,22.,"""Faded""[42]",Alan Walker,3.37,"December 3, 2015"
22,23.,"""Girls Like You""[43]",Maroon 5,3.35,"May 31, 2018"
23,24.,"""Let Her Go""[44]",Passenger,3.34,"July 25, 2012"
24,25.,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.31,"June 4, 2010"
25,26.,"""Perfect""[46]",Ed Sheeran,3.30,"November 9, 2017"
26,27.,"""Bailando""[47]",Enrique Iglesias,3.30,"April 11, 2014"
27,28.,"""Lean On""[48]",Major Lazer,3.29,"March 22, 2015"
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.23,"January 26, 2018"
29,30.,"""Shake It Off""[50]",Taylor Swift,3.23,"August 18, 2014"

In [20]:
driver.close()

**2. Scrape the details team India’s international fixtures from bcci.tv.**


Url = https://www.bcci.tv/.


You need to find following details:


A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [104]:
# Let's first connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Admin\Chrome webdriver\chromedriver_win32\chromedriver.exe')

#Let's maximize the automated window

driver.maximize_window()

# First get the webpage   https://www.bcci.tv/.

url_2 = ' https://www.bcci.tv/.'

driver.get(url_2)

In [110]:
# Opening fixtures webpage through browser

fixtures=driver.find_element(By.XPATH,'//a[@class="nav-link "]')
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [106]:
# Scraping URL 
URL= []

link=driver.find_elements(By.XPATH,'//a[@class="match-center-btn ng-scope"]')
for i in link:
    URL.append(i.get_attribute('href'))

In [107]:
len(URL)

8

In [108]:
# Creating empty list
Title = []
Series = []
Place = []
Date = []
Time = []

In [109]:
from tqdm import tqdm
for i in tqdm(URL):
    driver.get(i)
    
    # Scraping Match title
    try:
        title=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[3]/div[7]/div[3]/div/div[1]/div/div[1]/div[2]')
        Title.append(title.text)
    except NoSuchElementException:
        Title.append('NA')
        
    # Scraping Series Via Xpath
    try:
        series=driver.find_element(By.XPATH,'//div[@class="tournament--name ng-binding ng-scope"]')
        Series.append(series.text)
    except NoSuchElementException:
        Series.append('NA')
        
    # Scraping venue Via Xpath
    try:
        place=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/div[3]/div[7]/div[3]/div/div[1]/div/div[2]/div[3]/div[3]/span[1]")
        Place.append(place.text)
    except NoSuchElementException:
        Place.append('NA')
        
    # Scraping date Via Xpath
    try:
        date=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[3]/div[7]/div[3]/div/div[1]/div/div[2]/div[3]/div[2]')
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('NA')

100%|████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:09<00:00,  1.13s/it]

In [111]:
# Scraping Time Via Xpath
time1=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[1]/div[1]/div/div[1]/div/div[2]/h5/div')
Time.append(time1.text)

try:
    time=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for i in time:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('NA')

In [112]:
len(Time)

8

In [113]:
# Dataframe for scrap data
Cricket=pd.DataFrame({'Match Title':Title,'Tournament':Series,'Venue':Place,'Date':Date,'Time':Time})
print('\033[1m'+'Team India’s Upcoming International fixtures :'+'\033[0m')
Cricket

Team India’s Upcoming International fixtures :

,Match Title,Tournament,Venue,Date,Time
0,TARGET - 187\nBANGLADESH NEED 70 RUN(S) TO WIN,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"SHERE BANGLA NATIONAL STADIUM, MIRPUR, DHAKA",,LIVE
1,First-Class Match,INDIA A IN BANGLADESH MULTI DAY SERIES,SYLHET INTERNATIONAL CRICKET STADIUM,6 DEC 2022,9:00 AM IST
2,Women's Youth T20 Match,NEW ZEALAND WM U19 IN INDIA T20 SERIES,SHARAD PAWAR CRICKET ACADEMY BKC,6 DEC 2022,1:00 PM IST
3,2nd ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"SHERE BANGLA NATIONAL STADIUM, MIRPUR",7 DEC 2022,11:30 AM IST
4,1st T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,DY PATIL STADIUM,9 DEC 2022,7:00 PM IST
5,3rd ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,ZAHUR AHMED CHOWDHURY STADIUM,10 DEC 2022,11:30 AM IST
6,2nd T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,DY PATIL STADIUM,11 DEC 2022,7:00 PM IST
7,1st Test,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,ZAHUR AHMED CHOWDHURY STADIUM,14 DEC 2022,9:30 AM IST

In [114]:
driver.close()

**3. Scrape the details of selenium exception from guru99.com.**

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [140]:
# Let's first connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Admin\Chrome webdriver\chromedriver_win32\chromedriver.exe')

#Let's maximize the automated window

driver.maximize_window()

# First get the webpage   https://www.guru99.com/

url_3 = 'https://www.guru99.com/'

driver.get(url_3)

In [131]:
# Selecting Selenium option from website
try:
    Selenium=driver.find_element(By.XPATH,'//*[@id="kt-info-box_eaeb48-11"]/a/div[2]/h5')
    Selenium.click()
except ElementNotInteractableException:
    driver.get(Selenium.get_attribute('href'))

In [132]:
# Selecting Selenium Exception handling option from website
Selenium_Exception=driver.find_element(By.XPATH,'//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
try:
    Selenium_Exception.click()
except ElementNotInteractableException:
    driver.get(Selenium_Exception.get_attribute('href'))

In [135]:
# Creating Empty list
Name =[]
Description=[]

In [133]:
n=driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p[1]/strong')
for i in n:
    Name.append(i.text)

In [7]:
# Extracting Exception Name via Xpath
try:
    name=driver.find_elements(By.XPATH,'//table[@class="table table-striped"]/tbody/tr/td[1]')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')
    
# Extracting Description via Xpath
try:
    description=driver.find_element(By.XPATH,'//table[@class="table table-striped"]/tbody/tr/td[2]')
    Description.append(description.text)
except NoSuchElementException:
    Description.append('NA')

In [24]:

name=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]')
Name.append(name.text.split(':')[0])

**4. Scrape the details of State-wise GDP of India from statisticstime.com.**

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [13]:
# Let's first connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Admin\Chrome webdriver\chromedriver_win32\chromedriver.exe')

#Let's maximize the automated window

driver.maximize_window()

# First get the webpage http://statisticstimes.com/

url_4 = 'http://statisticstimes.com/'

driver.get(url_4)

In [14]:
# Creating Empty lists
Rank =[]
State =[]
GDSP_18_19 =[]
GDSP_19_20=[]
Share =[]
GDP =[]

In [15]:
# Clicking on India under ecomony section
India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
    
time.sleep(2)

# Clicking Indian State GDP
state = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

In [16]:
# Extracting Rank via Xpath
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
    
# Extracting state name via Xpath
try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')
    
# Extracting GDSP 19-20 via Xpath
try:
    gdsp_19_20=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')
    
# Extracting GDSP 18-19 via Xpath
try:
    gdsp_18_19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')
    
# Extracting share in billons via Xpath
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

# Extracting GDP via Xpath
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [17]:
# Dataframe for scrap data
Statewise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 19-20':GDSP_19_20,'GDSP 18-19':GDSP_18_19,
                            'Share':Share,'GDP (in Billions)':GDP})
print('\033[1m'+'State-wise GDP of India :'+'\033[0m')
Statewise_GDP

State-wise GDP of India :

,Rank,State,GDSP 19-20,GDSP 18-19,Share,GDP (in Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

**5. Scrape the details of trending repositories on Github.com.**

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
# Let's first connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Admin\Chrome webdriver\chromedriver_win32\chromedriver.exe')

#Let's maximize the automated window

driver.maximize_window()

# First get the webpage https://github.com/

url_5 = 'https://github.com/'

driver.get(url_5)

In [4]:
# Clicking on trending option
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [5]:
# Creating Empty list for Scraping Data
Title=[]
Description=[]
Count =[]
Language =[]

In [6]:
# Scraping repositories URL
URL= []
link=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [8]:
len(URL)

25

In [9]:
# Scraping Repositority Title
try:
    title=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('NA')

In [10]:
len(Title)

25

In [11]:
from tqdm import tqdm
for i in tqdm(URL):
    driver.get(i)
    time.sleep(5)
    # Scraping Description
    try:
        description=driver.find_element(By.XPATH,'/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[1]/div/p')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append('NA')
    
    # Scraping Contributor count
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Count.append(count.text)
    except NoSuchElementException:
        Count.append('NA')
    
    # Scraping Language
    L =[]
    try:
        lang=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if lang:
            for j in lang:
                L.append(j.text)
        else:
            L.append('NA')
        Language.append(L)
    except NoSuchElementException:
        Language.append('NA')

100%|██████████████████████████████████████████████████████████████████████████████████| 25/25 [07:24<00:00, 17.79s/it]

In [12]:
Github=pd.DataFrame({'Title':Title,'Description':Description,
                'Contributors_count':Count,'Language_used':Language})
print('\033[1m'+'GitHub Trending Repository :'+'\033[0m')
Github

GitHub Trending Repository :

,Title,Description,Contributors_count,Language_used
0,invoke-ai / InvokeAI,NA,130,"[Jupyter Notebook, Python, TypeScript, SCSS, S..."
1,apple / ml-stable-diffusion,NA,2,"[Python, Swift]"
2,AleoHQ / snarkOS,NA,45,"[Rust, Shell]"
3,misskey-dev / misskey,NA,121,"[TypeScript, Vue, JavaScript, Pug, SCSS, CSS]"
4,Klipper3d / klipper,NA,327,"[C, Python, C++, Assembly, Makefile, Shell]"
5,PKUFlyingPig / cs-self-learning,NA,70,[HTML]
6,danielgross / whatsapp-gpt,NA,2,"[Go, Python]"
7,hehonghui / awesome-english-ebooks,NA,NA,[CSS]
8,Visualize-ML / Book4_Power-of-Matrix,NA,NA,[Python]
9,thangchung / go-coffeeshop,NA,NA,"[Go, HTML, HCL, JavaScript, CSS, Shell, Makefile]"
10,monicahq / monica,NA,251,"[PHP, Vue, Blade, Shell, Dockerfile, Makefile]"
11,coolsnowwolf / lede,NA,355,"[C, Makefile, Shell, Roff, Perl, M4]"
12,Bogdanp / awesome-advent-of-code,NA,957,[NA]
13,palera1n / palera1n,NA,23,[Shell]
14,t3-oss / create-t3-app,NA,134,"[TypeScript, Astro, CSS, JavaScript, Shell]"
15,maplecool / easytrojan,NA,NA,[Shell]
16,openai / openai-quickstart-node,NA,3,"[JavaScript, CSS, Shell]"
17,microsoft / PowerToys,NA,323,"[C#, C++, C, PowerShell, HTML, HLSL]"
18,evrone / go-clean-template,NA,9,"[Go, Makefile, Dockerfile, Shell]"
19,openzfs / zfs,NA,524,"[C, Shell, Assembly, M4, Python, Makefile]"
20,recloudstream / cloudstream,NA,69,"[Kotlin, Java]"
21,fspoettel / advent-of-code-rust,NA,4,"[Rust, RenderScript]"
22,getify / You-Dont-Know-JS,NA,180,[NA]
23,openai / openai-quickstart-python,NA,NA,"[CSS, Python, HTML, Shell]"
24,linebender / xilem,NA,7,[Rust]

**6. Scrape the details of top 100 songs on billiboard.com.**

Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [19]:
# Let's first connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Admin\Chrome webdriver\chromedriver_win32\chromedriver.exe')

#Let's maximize the automated window

driver.maximize_window()

# First get the webpage https:/www.billboard.com/

url_6 = 'https:/www.billboard.com/'

driver.get(url_6)

In [22]:
# Clicking on Chart option
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[1]/div/div/div[1]/div[4]/div/nav/ul/li[1]/a')
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))
time.sleep(2)

In [23]:
# Clicking on View Chart option
view=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
try:
    view.click()
except ElementNotInteractableException:
    driver.get(view.get_attribute('href'))
time.sleep(2)

In [67]:
# Creating Empty List
Song =[]
Artist =[]
Last_Week_rank=[]
Peak_rank =[]
Weeks =[]

In [68]:
song = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]')
for i in song:
    Song.append(i.text.split('\n')[1])

In [70]:
artist = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]')
for i in artist:
    Artist.append(i.text.split('\n')[2])

In [72]:
lwk = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]')
for i in lwk:
    Last_Week_rank.append(i.text.split('\n')[3])

In [73]:
peak = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]')
for i in peak:
    Peak_rank.append(i.text.split('\n')[4])

In [74]:
week = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]')
for i in week:
    Weeks.append(i.text.split('\n')[5])

In [75]:
Billboard=pd.DataFrame({'Song_Name':Song,
                'Artist_Name':Artist,
                'Last_week_rank':Last_Week_rank,
                'Peak':Peak_rank,
                'Weeks_on_chart':Weeks})
print('\033[1m'+'Billboard Hot 100 Songs :'+'\033[0m')
Billboard

Billboard Hot 100 Songs :

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,Anti-Hero,Taylor Swift,1,1,5
1,Rich Flex,Drake & 21 Savage,2,2,3
2,Unholy,Sam Smith & Kim Petras,3,1,9
3,Bad Habit,Steve Lacy,4,1,21
4,All I Want For Christmas Is You,Mariah Carey,25,1,53
...,...,...,...,...,...
95,Die For You,Joji,72,53,3
96,RE- ENTRY,Down Home,Jimmie Allen,-,88
97,"Going, Going, Gone",Luke Combs,99,98,2
98,Middle Of The Ocean,Drake,67,15,3
99,More M’s,Drake & 21 Savage,69,18,3

**7. Scrape the details of Data science recruiters from naukri.com.**

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [105]:
# Let's first connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Admin\Chrome webdriver\chromedriver_win32\chromedriver.exe')

#Let's maximize the automated window

driver.maximize_window()

# First get the webpage https://www.naukri.com/

url_7 = 'https://www.naukri.com/'

driver.get(url_7)

In [101]:
# Click on search option

button = driver.find_element(By.XPATH,'//*[@id="root"]/div[6]/div/div/div[6]')
button.click()

In [102]:
# Creating Empty List
Name =[]
Designation =[]
Company =[]
Skill =[]
Location =[]

In [103]:
# Scraping  Name
try:
    name=driver.find_elements(By.XPATH,'')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
        Name.append('NA')

    # Scraping Designation
try:
    designation=driver.find_elements(By.XPATH,'//p[@class="highlightable"]/span[1]')
    for i in designation:
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('NA')
    
# Scraping Company
try:
    company=driver.find_elements(By.XPATH,'//a[@class="ellipsis"][2]')
    for i in company:
        Company.append(i.text)
except NoSuchElementException:
    Company.append('NA')
# Scraping skill for they hire
try:
    skill=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in skill:
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('NA')
    
# Scraping Song Artist Name
try:
    location=driver.find_elements(By.XPATH,'//p[@class="highlightable"]/span[2]/small')
    if location:
        for i in location:
            Location.append(i.text)
    else:
        Location.append('NA')
except NoSuchElementException:
    Location.append('NA')

**8. Scrape the details of Highest selling novels.**

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [111]:
# Let's first connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Admin\Chrome webdriver\chromedriver_win32\chromedriver.exe')

#Let's maximize the automated window

driver.maximize_window()

# First get the webpage https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

url_8 = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'

driver.get(url_8)

In [112]:
# Creating Empty Lists
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [113]:
# Scraping Book name
try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
    
# Scraping Book author's via Xpath
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    
# Scraping Volumes sold via Xpath
try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    
# Scraping publisher via xPath
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [114]:
#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

**9. Scrape the details most watched tv series of all time from imdb.com.**

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Vote

In [115]:
# Let's first connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Admin\Chrome webdriver\chromedriver_win32\chromedriver.exe')

#Let's maximize the automated window

driver.maximize_window()

# First get the webpage https://www.imdb.com/list/ls095964455/

url_9 = 'https://www.imdb.com/list/ls095964455/'

driver.get(url_9)

In [116]:
# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [117]:
# Scraping Name via Xpath
try:
    name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Year span via Xpath
try:
    year=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime via Xpath
try:
    runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings via Xpath
try:
    ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

# Scraping Votes via Xpath
try:
    votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [118]:
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})
print('\033[1m'+'Top 100 most watched tv shows of all time IMDB :'+'\033[0m')
IMDB_TV

Top 100 most watched tv shows of all time IMDB :

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,089,382"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,178,987"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"988,537"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"292,785"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"251,925"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,168"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,432"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"198,223"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,570"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"245,120"

**10. Details of Datasets from UCI machine learning repositories.**

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [119]:
# Let's first connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Admin\Chrome webdriver\chromedriver_win32\chromedriver.exe')

#Let's maximize the automated window

driver.maximize_window()

# First get the webpage https://archive.ics.uci.edu/

url_10 = 'https://archive.ics.uci.edu/'

driver.get(url_10)

In [120]:
# Clicking on all datasets links
dataset=driver.find_element(By.XPATH,"//a[@href='datasets.php']")
dataset.click()
time.sleep(1)

In [125]:
# Creating empty lists
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [126]:
# Scraping DataSet Name via Xpath
from tqdm import tqdm
try:
    dataset=driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in tqdm(dataset):
        Dataset.append(i.text)
        time.sleep(0.15)
except NoSuchElementException:
    Dataset.append('NA')
    
# Scraping Data Type via Xpath
try:
    Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in Type[1:]:
        Data_Type.append(i.text)
except NoSuchElementException:
    Data_Type.append('NA')
    
# Scraping Task via Xpath
try:
    task=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('NA')
    
# Scraping Attribute_Type via Xpath
try:
    attribute_Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_Type[1:]:
        Attribute_Type.append(i.text)
except NoSuchElementException:
    Attribute_Type.append('NA')
    
# Scraping No_of_Instances via Xpath
try:
    no_of_Instances=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_Instances[1:]:
        No_of_Instances.append(i.text)
except NoSuchElementException:
    No_of_Instances.append('NA')

# Scraping No_of_Attribute via Xpath
try:
    no_of_Attribute=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attribute[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('NA')
    
# Scraping Year via Xpath
try:
    year=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

100%|████████████████████████████████████████████████████████████████████████████████| 622/622 [01:56<00:00,  5.33it/s]

In [127]:
len(Dataset),len(Data_Type),len(Task),len(Attribute_Type),len(No_of_Instances),len(Year)

(622, 622, 622, 622, 622, 622)

In [128]:
# Creating Data Frame for UCI Dataset
UCI_Dataset=pd.DataFrame({'DataSet Title':Dataset,
                'Data Type':Data_Type,
                'Task':Task,
                'Attribute Type':Attribute_Type,
                'No of Instances':No_of_Instances,
                'No of Attribute':No_of_Attribute,
                'Year':Year})
print('\033[1m'+' UCI Machine Learning Dataset:'+'\033[0m')
UCI_Dataset

 UCI Machine Learning Dataset:

,DataSet Title,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [129]:
driver.close()